services:
  - type: web
    name: voicesafe-ai
    env: docker
    rootDir: AI
    plan: starter
    autoDeploy: true
    healthCheckPath: /health

    envVars:
      - key: APP_VERSION
        value: "mvp-1.0"

      - key: MAX_UPLOAD_MB
        value: "25"

      - key: TARGET_SR
        value: "16000"

      - key: CORS_ORIGINS
        value: "*"

      - key: API_KEY
        sync: false